// ================================
// Case Builder - client/layouts
// ================================

@import '../../shared/layouts/layouts';

.dashboard {
    &-layout {
        background: $color-mono-xxxlight;

        .container-fluid {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

