// =====================================
// Case Builder - client/themes/blood
// =====================================

@import '../../shared/themes/default';

$theme-color-secondary: #404040;
$theme-color-primary: #d83030;
$theme-color-highlight: #6b1f7c;

$button-primary-color: $color-mono-xxxlight;
$button-primary-bg: $theme-color-primary;
$button-primary-border: $button-primary-border;

$button-highlight-color: $color-mono-xxxlight;
$button-highlight-bg: $theme-color-highlight;
$button-highlight-border: $theme-color-highlight;

$button-secondary-color: $color-mono-xxxlight;
$button-secondary-bg: $theme-color-secondary;
$button-secondary-border: $button-primary-border;

