// ===================================
// Digital Team Backend System - client/themes/digitalTeam
// ===================================

@import '../../shared/themes/default';

$theme-color-body: #3b444f;

$theme-color-primary: #830035;
$theme-color-secondary: #004a67;
$theme-color-tertiary: #3b444f;
$theme-color-quaternary: #288ad6;
$theme-color-quinary: #288ad6;
$theme-color-senary: #288ad6;
$theme-color-septenary: #288ad6;

$button-primary-color: $color-mono-xxxlight !default;
$button-primary-bg: $theme-color-primary;
$button-primary-border: $color-mono-xxxlight!default;
