// ===========================
// Store - base/themes/default
// ===========================

$default-color-success-light: #fbd4d4 !default;
$default-color-success: #5cb85c !default;
$default-color-success-dark: #4cae4c !default;
$default-color-success-xdark: #449d44 !default;

$default-color-info-light: #fbd4d4 !default;
$default-color-info: #5bc0de !default;
$default-color-info-dark: #46b8da !default;
$default-color-info-xdark: #31b0d5 !default;

$default-color-warning-light: #fbd4d4 !default;
$default-color-warning: #f0ad4e !default;
$default-color-warning-dark: #eea236 !default;
$default-color-warning-xdark: #c9302c !default;

$default-color-danger-light: #fbd4d4 !default;
$default-color-danger: #d9534f !default;
$default-color-danger-dark: #d43f3a !default;
$default-color-danger-xdark: #c9302c !default;


// theme colors
$color-mono-xxxlight: #ffffff;
$color-mono-xxlight: #f7f7f7;
$color-mono-xlight: #cccccc;
$color-mono-light: #bbbbbb;
$color-mono: #aaaaaa;
$color-mono-dark: #888888;
$color-mono-xdark: #444444;
$color-mono-xxdark: #222222;
$color-mono-xxxdark: #000000;

$theme-color-primary-xxlight: $color-mono-xxlight;
$theme-color-primary-xlight: $color-mono-xlight;
$theme-color-primary-light: $color-mono-light;
$theme-color-primary: $color-mono;
$theme-color-primary-dark:$color-mono-dark;
$theme-color-primary-xdark: $color-mono-xdark;
$theme-color-primary-xxdark: $color-mono-xxdark;

// Font Colors
$font-color-light: $color-mono;
$font-color: $color-mono-dark;
$color-disable: $color-mono;


$theme-color-red: #fa5e5b;
$theme-color-cherry: #a70000;
$theme-color-rose: #f7001a;
$theme-color-jam: #6a0005;
$theme-color-garnet: #6a0000;
$theme-color-crimson: #c90000;
$theme-color-ruby: #9e0000;
$theme-color-scarlet: #a00000;
$theme-color-blood: #7d0000;
$theme-color-currant: #710000;
$theme-color-blush: #ca4c43;

$theme-color-purple: #a22dc3;
$theme-color-violet: #710092;
$theme-color-boysenberry: #620334;
$theme-color-lavender: #e49ff7;
$theme-color-magenta: #a00559;
$theme-color-lilac: #b560cd;
$theme-color-grape: #663147;
$theme-color-iris: #9866c5;
$theme-color-orchid: #af69ee;
$theme-color-mulberry: #4d0020;
$theme-color-amethyst: #a45ee6;

$theme-color-green: #3cb044;
$theme-color-chartreuse: #aefc38;
$theme-color-juniper: #3b5412;
$theme-color-sage: #728c69;
$theme-color-olive: #98bf64;
$theme-color-lime: #aef35a;
$theme-color-emerald: #038911;
$theme-color-seafoam: #3bec97;
$theme-color-parakeet: #08c04b;
$theme-color-basil: #32612d;
$theme-color-pine: #24501e;

$theme-color-tan: #e5dbad;
$theme-color-macaroon: #f7e075;
$theme-color-granola: #d5b659;
$theme-color-eggnog: #fae29b;
$theme-color-sepia: #e3b778;
$theme-color-latte: #eac17c;
$theme-color-oyster: #dbd6a0;
$theme-color-hazelnut: #bca55d;
$theme-color-parmesean: #fde992;
$theme-color-buttermilk: #fdefb2;
$theme-color-sandcastle: #d9c27c;



// @override bootstrap
$gray-light: $color-mono-xlight;
$theme-color-body: $color-mono-dark;

$theme-color-primary: $color-mono;
$theme-color-secondary: $color-mono-dark;
$theme-color-tertiary: $color-mono-xxdark;
$theme-color-quaternary: $color-mono-xxxlight;
$theme-color-quinary: $color-mono-xxxdark;
$theme-color-senary: $color-mono-xxlight;
$theme-color-septenary: $color-mono-light;

// Default Colors
$button-primary-color: $color-mono-xxxlight !default;
$button-primary-bg: $theme-color-primary;
$button-primary-border: $color-mono-xxxlight!default;

$button-info-color: $color-mono-xxlight;
$button-info-bg: $default-color-info;
$button-info-border: $default-color-info-dark;

$button-success-color: $color-mono-xxlight;
$button-success-bg: $default-color-success;
$button-success-border: $default-color-success-dark;

$button-warning-color: $color-mono-xxlight;
$button-warning-bg: $default-color-warning;
$button-warning-border: $default-color-warning-dark;

$button-danger-color: $color-mono-xxlight;
$button-danger-bg: $default-color-danger;
$button-danger-border: $default-color-danger-dark;

