// =====================================
// ExpenseTracker - client/states/global
// =====================================

@import '../../shared/states/global';

.has-error{
    color: #a94442;
}

.is-overlapped{
    position: relative;

    > label{
        top: 13px;
        position: absolute;
        transition: all 0.2s linear;
        pointer-events: none;
    }

    >input  {
        height: 45px;

        &:focus + label{
            font-size: 12px;
            top: -10px;
        }

    }
}
