// ==============================
// ExpenseTracker - client/states
// ==============================

@import 'global';

.is-scrolled {
    position: fixed;
    top: 0;
    width: 100%;
}

.is-loading {
    background: #636b6f;
}
