.bar{
  &-top{
    background: $theme-color-primary;
    font-size: $font-size-xsmall;
    
    padding: 10px 0px;
    .brand-logo {
      width: 210px;
    }

    h1, h2, h3, h4, h5, h6{
      color: $color-mono-xxxlight;
    }
  }
}
