// =======================================
// Case Builder - shared/modules/button
// =======================================

.button {
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        border: 1px solid transparent;
        padding: 10px 20px;
        border-radius: 4px;
        @include brand_copy_loose();
		 &-primary  {
				background: $button-primary-bg;
				color: $button-primary-color;
				border-color: $button-primary-border;

				&:hover{
				 color: $color-mono-xxlight;
				 background: $theme-color-secondary;
				 border-color: $theme-color-secondary;

				}

				&:active {
					background: $button-primary-bg;
					border-color: $button-primary-border;
					color: $color-mono-xxlight;
					outline: none;
	                -moz-outline-style: none;
				}
		 }

        &-highlight  {
            background: $button-highlight-bg;
            color: $button-primary-color;
            border-color: $button-highlight-border;

            &:hover{
                color: $color-mono-xxlight;
                background: darken($theme-color-highlight, 10%);
                border-color: $theme-color-secondary;

            }

            &:active {
                background: $button-highlight-bg;
                border-color: $button-highlight-border;
                color: $color-mono-xxlight;
            }
        }

        &-secondary {
            background: $button-secondary-bg;
            color: $button-secondary-color;
            border-color: $button-secondary-border;

            &:hover{
                color: $color-mono-xxlight;
                background: $button-primary-bg;
                border-color: $button-primary-border;

            }

            &:active, &:focus{
                background: $button-secondary-bg;
                border-color: $button-secondary-border;
                color: $button-secondary-color;
                outline: none;
                -moz-outline-style: none;
            }
        }
		 &-info  {
				background: $button-info-bg;
				color: $button-info-color;
				border-color: $button-info-border;

				&:hover{
				 color: $color-mono-xxlight;
				 background: darken($button-info-bg, 10%);
				 border-color: darken($button-info-bg, 20%);
				}

				&:active, &:focus{
					background: darken($button-info-bg, 10%);
					 border-color: darken($button-info-bg, 20%);
					outline: none;
					-moz-outline-style: none;
				}
		 }

		 &-warning  {
				background: $button-warning-bg;
				color: $button-warning-color;
				border-color: $button-warning-border;

				&:hover{
				 color: $color-mono-xxlight;
				 background: darken($button-warning-bg, 10%);
				 border-color: darken($button-warning-bg, 20%);
				}

				&:active, &:focus{
					background: darken($button-warning-bg, 10%);
					 border-color: darken($button-warning-bg, 20%);
					outline: none;
					-moz-outline-style: none;
				}
		 }
		 &-success  {
				background: $button-success-bg;
				color: $button-success-color;
				border-color: $button-success-border;

				&:hover{
				 color: $color-mono-xxlight;
				 background: darken($button-success-bg, 10%);
				 border-color: darken($button-success-bg, 20%);
				}

				&:active, &:focus{
					background: darken($button-success-bg, 10%);
	 				border-color: darken($button-success-bg, 20%);
					outline: none;
	        -moz-outline-style: none;
				}
		 }

		 &-danger  {
				background: $button-danger-bg;
				color: $button-danger-color;
				border-color: $button-danger-border;

				&:hover{
				 color: $color-mono-xxlight;
				 background: darken($button-danger-bg, 10%);
				 border-color: darken($button-danger-bg, 20%);

				}

				&:active, &:focus{
					background: darken($button-danger-bg, 10%);
					border-color: darken($button-danger-bg, 20%);
					outline: none;
		      -moz-outline-style: none;
				}
		 }
    &:disabled {
        background: #ddd;
    }

    &.is-loading {
        background: $theme-color-primary;
    }
}
