// ===========================================
// Case Builder - shared/modules/form
// ===========================================

.form {

  &-group {
    margin-bottom: 15px;

    &--overlap {
      position: relative;

        &label{
        border: 1px solid black;
      }
    }
  }

  &-label {
    display:block;
    color: $theme-color-primary;
  }

  &-control {
    width: 100%;
    padding: 5px;
      &:focus {
          outline: none;
      }
  }

  &-horizontal{
    .form-group{
      margin: 15px 0px;
        @include flexbox();
    }
    .form-label{
      padding-right: 7px;
    }

    .form-control {
      width: 80%;
    }
  }
}
