// ===========================================
// Case Builder - shared/modules/textbox
// ===========================================

.textbox {

	&--bottomline {
		border: none;
		border-bottom: 1px solid $theme-color-primary-xlight;
		background-color: transparent;
		padding-left: 0;

	}

    &:focus {
    }
}
