// ===========================================
// Case Builder - shared/modules/themePanel
// ===========================================

.themePanel {
     &Pallete {
         >li, &Item {
             text-align: center;
         }

         &Item {
                &--default {
                background-color: #aaaaaa;
            }

            &--sky {
                    background-color: #489ad2;;
            }

            &--blood {
                    background-color: #de5346;
            }
        }
     }
}
