.flex {
    &-row {
        @include flexbox();
    }

    &-wrap {
        @include flex-wrap(wrap);
    }
}

.align {
    &-items {
        &-center{
            @include align-items(center);
        }
    }
}

.full_width {
    display: block;
    width: 100%;
}

.divider {
    margin: 20px 0;
    border-top: 1px solid $color-mono-xlight;
    width: 100%;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}
