.pg-build-campaigns {
    .form-build-campaigns {
        .form-control {
            width: 70%;
            margin-right: 20px;
            padding: 0 10px;
        }
        .button {
            width: 20%;
            font-size: 22px;
        }
    }

    .section {
        margin-bottom: 20px;
    }
}
