.pg-build-cases {
    .form-build-cases {
        .form-control {
            width: 70%;
            margin-right: 20px;
            padding: 0 10px;
        }
        .button {
            width: 30%;
            font-size: 22px;
        }
    }
}
