.pg-login {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 50px 80px;
    border-radius: 8px;
    border: 1px solid $color-mono-xlight;
    @include transform(translate(-50%, -60%));

    .login-form {
        position: relative;
        width: 440px;
    }

    .logo-header {
        color: $theme-color-primary;
        text-align: center;
        @include brand_heading();
    }
}
