// =================
// Store - base/core
// =================

body, html {
    padding: 0;
    margin: 0;
    @include montserrat_medium();
    @include brand_copy_loose()


}

small {
    font-size: $fontxs;
}


a {
	text-decoration: none;
    outline: none;
    -moz-outline-style: none;
    color: $theme-color-tertiary;

	&:hover, &:active, &:visited, &:focus {
        text-decoration: none;
        outline: none;
        -moz-outline-style: none;
        color: $theme-color-quinary;
	}
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="submit"],
input[type="number"],
input[type="tel"] {
    &:focus, &:active, &:visited {
        outline: none;
        -moz-outline-style: none;
    }
}
