// ======================
// Store - base/variables
// ======================

// General
$base-line-height: 16px;

$fontxxl: 1.875rem; //expect to be 30px based on 16px browser font size
$fontxl: 1.375rem;  //expect to be 22px based on 16px browser font size
$fontl: 1.25rem;    //expect to be 20px based on 16px browser font size
$fontm: 1.125rem;   //expect to be 18px based on 16px browser font size
$fontbody: 1rem;    //expect to be 16px based on 16px browser font size
$fonts: 0.875rem;   //expect to be 14px based on 16px browser font size
$fontxs: 0.75rem;   //expect to be 12px based on 16px browser font size

$font-weight-bold: 500;
$font-weight-light: 300;
$font-weight-normal: normal;

$primary-font-family: 'Raleway', sans-serif;

$lineheight_xxl: 1.233; // based on 37px line height
$lineheight_xl: 1.227;  // based on 27px line height
$lineheight_l: 1.2;     // based on 24px line height
$lineheight_mid: 1.22;  // based on 22px line height
$lineheight_body: 1.25;    // based on 20px line height
$lineheight_s: 1.57;    // based on 17px line height
$lineheight_xs: 1.25;   // based on 15px line height

// Breakpoints
$xsmall-min: 0;
$xsmall-max: 420px;
$small-min: $xsmall-max + 1;
$small-max: 640px;
$medium-min: $small-max + 1;
$medium-max: 768px;
$large-min: $medium-max + 1;
$large-max:  992px;
$xlarge-min: $large-max + 1;
$xlarge-max: 1200px;
$xxlarge-min: $xlarge-max + 1;
