.basket {
    &-items {
        &-list {
            margin-top: 20px;
            @include flexbox();
            @include align-items(center);

            &:first-child {
                margin-top: 0;
            }
        }
      &-open {
        right: 0;
      }
    }

    &-item {
        @include flex-grow(1);

        &:last-child {
            text-align: right;
            padding-right: 20px;
        }
    }
}
