.case {
    &-component {
        background: $color-mono-xxxlight;
        border: 1px solid $color-mono-xlight;
        padding: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        width: calc(100% - 20px);
        @include flex(1, 0, 25%);

        .button {
            width: 100%;
            height: 40px;
            border-radius: 0;
        }
    }

    &-title {
        background: $color-mono-xxlight;
        margin: 0;
        padding: 15px 10px;
        text-align: center;
        @include brand_light_sub_heading();
    }
    &-block {
        &-image {
            background-color: #f3f4f6;
            text-align: center;
            margin: 20px 0;
        }
    }
}
