.floating-label {
    &-wrapper {
        margin-bottom: 15px;

        input[type="text"],
        input[type="password"],
        input[type="email"],
        input[type="number"],
        input[type="tel"] {
            border-radius: 4px;
            padding: 11px 14px;
            border: 1px solid $color-mono-xlight;
            width: 100%;
            min-height: 28px;
            @include appearance();
            @include brand_copy_loose();

            & + label {
                cursor: text;
                display: block;
                height: 0;
                margin-left: 0;
                pointer-events: none;
                position: relative;
                text-align: left;
                top: -32px;
                left: 15px;
                width: 100%;

                .floating-label-text {
                    display: inline-block;
                    transition: all 0.3s ease-in-out;
                }
            }

            //focus state
            &:focus {
                outline: none;
                border-color: $theme-color-highlight;

                + label .floating-label-text {
                    color: $theme-color-highlight;
                    font-size: $fonts;
                    background: $color-mono-xxxlight;
                    @include transform(translateY(-23px));

                }
            }

            /* when input has some text */
            &.input-has-content {
                + label .floating-label-text {
                    color: $theme-color-highlight;
                    font-size: $fonts;
                    background: $color-mono-xxxlight;
                    @include transform(translateY(-23px));
                }
            }

        }
    }
}
