@import '../../shared/modules/form';
@import '../../shared/modules/button';

.form {
    &-group {
        @include flex-wrap(wrap);
        margin: 15px 0 0;
    }
    &-control {
        height: 50px;
        border: 1px solid $color-mono-xlight;
        border-radius: 6px;
        @include flex(1, 0, 68%);
    }
}
