.header {
  background: $color-mono-xxxlight;
  border-bottom: 1px solid lighten($color-mono-xlight, 10%);
  position: relative;
  @include flexbox();
  @include align-items(center);

  &-right {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    @include flexbox();

    .button-logout {
      padding: 0 20px;
      position: relative;
      @include flexbox();
      @include justify-content(center);
      @include align-items(center);

      &:hover {
        color: $theme-color-highlight;
      }

      &:before {
        content: '\e9b6';
        position: absolute;
        top: 10px;
        font-family: 'Automation';
        font-size: 20px;
      }
    }
    .button-logout-label {
      position: relative;
      top: 10px;
    }
  }

  &-basket {
    width: 82px;
    height: 100%;
    text-align: center;
    cursor: pointer;
    background:$theme-color-secondary;
    color: $color-mono-xxxlight;
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    @include brand_sub_heading();

    .basket_icon_ctrl {
        position: relative;
        top: 6px;
        @include transition(0.3s all ease-in-out);
        @include rotate(0);
    }

    &:hover {
        background: darken($theme-color-secondary, 10%);

        .basket_icon_ctrl {
            top: -6px;
            @include rotate(180);
            @include transition(0.3s all ease-in-out);
        }
    }
  }

  .logo-wrapper {
    color: $theme-color-quaternary;
    margin-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    z-index: 1;
    position: relative;
    @include brand_heading();

    &:before {
        content: '';
        background: $theme-color-primary;
        width: 250px;
        height: 100px;
        display: block;
        position: absolute;
        top: -88%;
        z-index: -1;
        padding: 10px;
        left: 0;
    }

    .logo-sub-text {
        margin: 0;
        letter-spacing: 4px;
        line-height: 20px;
    }
  }
}
