.modal {
  &-overlay {
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba($color-mono-xxxdark, 0.8);
    display: none;
  }

  &-content {
    position: fixed;
    top: 0;
    right: -500px;
    bottom: 0;
    z-index: 2;
    max-width: 500px;
    padding: 20px 15px;
    background: $color-mono-xxlight;
    transition: ease-in 0.3s;

    &-open {
      right: 0;
    }
  }
  &-is-open {
    display: block;
  }
}
