.nav {
    &-link {
        padding: 25px 20px;
        display: inline-block;
        color: $theme-color-secondary;
        position: relative;
        &:visited, &:focus {
            color: $theme-color-secondary;
        }

        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            left: 0;
            bottom: 0;
            background-color: $theme-color-secondary;
            visibility: hidden;
            transform: scaleX(0);
            transition: all .2s ease-in-out 0s;
            transition-delay: .05s;
        }

        &:after {
            content: '';
            border-top: 2px solid $theme-color-primary;
            position: absolute;
            height: 2px;
            right: 0;
            top: 0;
            transform: scaleX(0);
            transition: all .3s ease-in-out 0s;
            transform-origin: right;
            width:100%;
        }
        &:hover {
            color: darken($theme-color-secondary, 8%);

            &:before {
                visibility: visible;
                transform: scaleX(1);
            }
        }

        &.active {
            position: relative;
            &:after {
                transform: scaleX(1);

            }
        }
    }
}
