.topbar {
    background: #252628;
    &-container {
        max-width: 100%;
        position: relative;
        height: 3px;

        &:before,
        &:after {
            content: '';
            background: $theme-color-primary;
            position: absolute;
            top: 0;
            height: 100%;
            display: block;
            z-index: 0;
            width: 100%;
        }
        &:before {
            left: calc(-100% + 10px);

        }
        &:after {
            right: 0;
            width: 6%;
        }
    }
}
