// appearance
//
// Override appearance of browser-defined elements, such as form inputs
//
// $[arg:none] - string set appearance, default to none [normal|icon|window|button|menu|field]
//
// Styleguide sass.mixin.appearance
@mixin appearance($arg: none) {
    -webkit-appearance: $arg;
    -moz-appearance: $arg;
    appearance: $arg;
}
