@mixin font_size_and_height($font-size, $line-height) {
    font-size: $font-size;
    line-height: $line-height;
}

/* Brand Heading */
@mixin brand_heading() {
    @include font_size_and_height($fontxxl, $lineheight_xxl);
    font-weight: bold;
}

/* Brand Sub Heading */
@mixin brand_sub_heading() {
    @include font_size_and_height($fontxl, $lineheight_xl);
    font-weight: bold;
}

/* Brand Light Sub Heading */
@mixin brand_light_sub_heading() {
    @include font_size_and_height($fontxl, $lineheight_xl);
}

/* Brand Small Sub Heading */
@mixin brand_small_sub_heading() {
    @include font_size_and_height($fontl, $lineheight_l);
}

/* font body */
@mixin brand_copy_loose(){
    @include font_size_and_height($fontbody, $lineheight_body);
}

/* brand copy small */
@mixin brand_copy_small(){
    @include font_size_and_height($fonts, $lineheight_s);
}

/* brand fine print */
@mixin brand_fineprint() {
    @include font_size_and_height($fontxs, $lineheight_xs);
}
