
@mixin font-smoothing($value: antialiased){
  @if $value == antialiased {
    -webkit-font-smoothing: antialiased;
    -mox-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -mox-oxs-font-smoothing: auto;
  }
}
