// ============================
// Store - fonts/automation
// ============================

@font-face {
    font-family: 'automation';
    src:    url('fonts/automation_v2.eot?hqremo');
    src:    url('fonts/automation_v2.eot?hqremo#iefix') format('embedded-opentype'),
        url('fonts/automation_v2.ttf?hqremo') format('truetype'),
        url('fonts/automation_v2.woff?hqremo') format('woff'),
        url('fonts/automation_v2.woff2?hqremo') format('woff2'),
        url('fonts/automation_v2.svg?hqremo#automation') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'automation' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-ctrl:before {
    content: "\EA50";
}

.icon-close:before {
    content: "\EA0f";
}

