

@mixin font_src($font_file_name, $b_svg: false, $b_woff2: true) {
    //include SVG in file list for better Chrome rendering,
    //but don't download the larger file if unnecessary (currently only used on wficonfont)

    //ie9 compat mode
    src: url('fonts/#{$font_file_name}.eot');

    //ie6-ie8
    src: url('fonts/#{$font_file_name}.eot?#iefix') format('embedded-opentype'),

        //Chrome only if specified
    if($b_svg, url('fonts/#{$font_file_name}.svg') format('svg'), null),

        //modern browsers
    if($b_woff2, url('fonts/#{$font_file_name}.woff2') format('woff2'), null),
    url('fonts/#{$font_file_name}.woff') format('woff'),

        //safari, android, ios
    url('fonts/#{$font_file_name}.ttf') format('truetype');
}

//////////////////////////
// FONT NOVECENTO
//////////////////////////
@font-face {
    font-family: 'Montserrat';
    @include font_src(montserrat/montserrat_regular);
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Montserrat';
    @include font_src(montserrat/montserrat_medium);
    font-style: normal;
    font-weight: 500;
}

/* Montserrat SemiBold */
@font-face {
    font-family: 'Montserrat';
    @include font_src(montserrat/montserrat_semibold);
    font-style: normal;
    font-weight: 600;
}

/* Montserrat Bold */
@font-face {
    font-family: 'Montserrat';
    @include font_src(montserrat/montserrat_bold);
    font-style: normal;
    font-weight: 700;
}

@mixin montserrat() {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@mixin montserrat_medium() {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@mixin montserrat_semibold() {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@mixin montserrat_bold() {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


